<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="used_product">
            <tab>hawksama</tab>
            <resource>Hawksama_HyvaCheckoutUsedProductNotice::config</resource>
            <group id="main">
                <field id="enable_confirmation_on_checkout" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable confirmation on checkout</label>
                    <depends>
                        <field id="used_product/main/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
